{% extends "base.html" %}
{% block content %}
    {% if message %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endif %}
  {% for clip in clips %}
  <h1>{{clip.title}}</h1>
    <form method="get" action="{{base_path}}/clipList/{{clip.id}}/edit" style="float:left;">
        <button type="submit" class="btn btn-default">Modify Details</button>
    </form>
    <form method="post" action="{{base_path}}/clipList/{{clip.id}}/destroy" class="destroy-form" data-confirm="Are you sure you want to delete this clip? No take-backs!" 
          style="float:left; clear:right; padding-left: 10px;">
        <button type="submit" class="btn btn-danger">Delete Clip</button>
    </form>
  <br>
<!-- {% if clip.used %}                        
            <label class="label label-danger">Taken 
          {% else %}                                
            <label class="label label-success">Not Used
     {% endif %}
-->
    <p style="clear:both;"></p>
    <p><strong>Game:</strong> {{clip.game}}</p>
    <p><strong>Resolution:</strong> {{clip.resolution}}</p>
    <p><strong>FPS:</strong> {{clip.fps}}</p>
    <p><strong>Date uploaded:</strong> {{clip.added}}</p>
  <p><strong>Description:</strong></p>
  <p> {{clip.description}} </p>
  {% endfor %}
{% endblock %}