#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.navbar li { 
    border-right: 1px solid lightgray;
 }

.navbar li:first-child { 
    border-left: 1px solid lightgray; 
}
 
.navbar li:last { 
    border-right: none;
}

.navbar li:hover {
    background-color: lightgray;
}