{% extends "base.html" %}
{% block content %}
  <h1>Login</h1>

  <form method="post" action="{{base_path}}/login">
    <div class="form-group">
      <label>Username:</label>
      <input type="text" class="form-control" name="username" value="" style="width:280px">
    </div>

    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" name="password" style="width:280px">
    </div>

    <button type="submit" class="btn btn-primary">Sign in now!</button>
    </form> 
{% endblock %}