{% extends "base.html" %}
{% block content %}
  <h1>Make an Account</h1>
  
  {% if errors %}
    <div class="alert alert-danger">
      <ul>
        {% for error in errors %}
          <li>{{error}}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  
    {% if message %}
        <div class="alert alert-success">
            {{message}}
        </div>
    {% endif %}
  
  <form method="post" action="{{base_path}}/signup">
    <div class="form-group">
      <label>Username:</label>
      <input type="text" class="form-control" name="username" value="" style="width:280px">
    </div>

    <div class="form-group">
      <label>Password:</label>
      <input type="password" class="form-control" name="password" style="width:280px">
    </div>

    <button type="submit" class="btn btn-success">Make the account!</button>
  </form>  
{% endblock %}