{% extends "base.html" %}
{% block content %}
  <h1>Modify information</h1>

  <form>
    <div class="form-group">
      <label>Title</label>
      <input type="text" class="form-control" value="bfhl cinematic view">
    </div>
    <div class="form-group">
      <label>Game</label>
      <input type="text" class="form-control" value="Battlefield: Hardline">
    </div>
    <div class="form-group">
      <label>Resolution</label>
      <input type="text" class="form-control" value="1920 x 1080">
    </div>
    <div class="form-group">
      <label>FPS</label>
      <input type="text" class="form-control" value="60">
    </div>   
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control">Cinematic scene
      </textarea>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save Changes</button>
    </div>
  </form>
{% endblock %}