{% extends "base.html" %}
{% block content %}
  <h1>bfhl cinematic view</h1>
  <!-- Buttons -->
  <p>
   <a href="#" class="btn btn-default">Modify details</a> <button class="btn btn-danger">Delete clip</button> 
  </p>
  <!-- Info -->
  <ul>
    <li><strong>Game:</strong> Battlefield: Hardline</li>
    <li><strong>Resolution:</strong> 1920 x 1080</li>
    <li><strong>FPS:</strong> 60</li>
    <li><strong>Date uploaded:</strong> 22.03.2015</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Cinematic scene
  </p>
{% endblock %}